[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "==3.1.6"
pycryptodome = "==3.7.3"
Flask = "==1.0.2"
Flask-WTF = "==0.14.3"
itsdangerous = "==2.0.1"
markupsafe = "*"

[dev-packages]

[requires]
python_version = "3.9"
