<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="{{ url_for('static', filename='img/favicon.ico') }}"
        />

        <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/navbar.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/session.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/csrf-protection.js') }}"></script>
        <script src="{{ url_for('static', filename='js/date.format.js') }}"></script>
        <script src="{{ url_for('static', filename='js/clean.js') }}"></script>
        <script src="{{ url_for('static', filename='js/auto-refresh.js') }}" defer></script>
        {% block links %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div id="navbar-container">
            <div id="menu-container">
                <div id="menu-icon">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>

            <div id="navbar">
                <ul>
                    {% block navbar %}{% endblock %}
                    <li><a href="{{ url_for('logout') }}" id="logout">Logout</a></li>
                </ul>
            </div>
        </div>

        <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}" />
        {% block content %}{% endblock %}
    </body>
</html>
