{% extends "base.html" %} {% block links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}" />
<script src="{{ url_for('static', filename='js/home.js') }}" defer></script>
{% endblock %} {% block title %} Notebook - Home {% endblock %} {% block navbar %} {% if
session['access_level'] != PermissionConst.NONE.value %}
<li><a href="{{ url_for('admin') }}">Admin</a></li>
{% endif %}
<li><a href="#" class="active-tab">Notebook</a></li>
<li><a href="{{ url_for('settings') }}">Settings</a></li>
{% endblock %} {% block content %}
<div id="container">
    <div id="create">
        <input type="text" placeholder="Create a new topic" id="new-topic-name" spellcheck="true" />
        <button type="button" id="create-topic" onclick="createTopic()">Create</button>
    </div>

    <div id="table-container"></div>
    <p id="last-active" hidden></p>
    <input type="hidden" id="last-active-timestamp" value="{{ lastActiveTimestamp  }}" />
</div>
{% endblock %}
