<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Notebook - Login</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="{{ url_for('static', filename='img/favicon.ico') }}"
        />
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
    </head>
    <body>
        <div id="container">
            <span id="logo">
                <a href="{{ url_for('index') }}">Notebook</a>
            </span>

            <div id="login-box">
                <div style="position: absolute">
                    <span id="msg" hidden></span>
                </div>

                <form action="{{ url_for('login') }}" id="login-form" method="post">
                    <input
                        type="text"
                        id="username"
                        name="username"
                        spellcheck="false"
                        placeholder="Username"
                    />
                    <input type="password" id="password" name="password" placeholder="Password" />
                    <button type="submit" id="login" name="submit">Login</button>
                    <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}" />
                </form>

                <span id="sign-up">
                    <a href="{{ url_for('signup') }}">Sign up</a>
                </span>
            </div>

            <script>
                window.onload = function() {
                    let username = '{{ username }}';
                    let usernameField = document.getElementById('username');
                    let passwordField = document.getElementById('password');

                    if (username) {
                        passwordField.focus();
                        document.getElementById('username').value = '{{ username }}';
                    }
                };
            </script>
        </div>
    </body>
</html>
