<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/csrf-protection.js') }}"></script>
        <script src="{{ url_for('static', filename='js/register.js') }}" defer></script>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='css/register.css') }}"
        />
        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="{{ url_for('static', filename='img/favicon.ico') }}"
        />
        <title>Notebook - Register</title>
    </head>
    <body>
        <div id="container">
            <span id="logo">
                <a href="{{ url_for('index') }}">Notebook</a>
            </span>

            <span id="min-password-length" hidden>{{ min_password_length }}</span>
            <span id="max-password-length" hidden>{{ max_password_length }}</span>

            <div id="register-box">
                <div id="rules">
                    <ul id="status"></ul>
                </div>

                <div id="resp">
                    {% with messages = get_flashed_messages(with_categories=True) %} {% if messages %}
                    <span class="message {{ messages[0][0] }}"> {{ messages[0][1] }}</span>
                    {% endif %} {% endwith %}
                </div>

                <form action="{{ url_for('signup') }}" method="post">
                    <input
                        type="text"
                        id="username"
                        name="username"
                        spellcheck="false"
                        placeholder="Username"
                    />
                    <input type="password" id="password" name="password" placeholder="Password" />
                    <input type="password" id="confirm" name="confirm" placeholder="Confirm Password" />
                    <button type="submit" id="register" name="submit">Sign up</button>
                    <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}" />
                </form>

                <span id="log-in">
                    <a href="{{ url_for('index') }}">Login</a>
                </span>

                {% if data %}
                <script>
                    let username = '{{ data["username"] }}';
                    let password = '{{ data["password"] }}';
                    let confirm = '{{ data["confirm"] }}';
                    let isSuccessful = '{{ data["success"] }}';

                    let usernameInput = document.getElementById('username');
                    let passwordInput = document.getElementById('password');
                    let confirmInput = document.getElementById('confirm');
                    let timestamp = new Date().getTime();

                    usernameInput.value = username;
                    passwordInput.value = password;
                    confirmInput.value = confirm;

                    if (isSuccessful == 1) {
                        $.ajax({
                            type: 'POST',
                            url: '/login',
                            data: { username: username, password: password, timestamp: timestamp },
                            beforeSend: function(request) {
                                request.setRequestHeader('X-CSRFToken', $('#csrf_token').val());
                            }
                        }).done(function() {
                            window.location.href = '/';
                        });
                    }
                </script>
                {% endif %}
            </div>
        </div>
    </body>
</html>
