{% extends "base.html" %} {% block links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/settingstopic.css') }}" />
<script src="{{ url_for('static', filename='js/settingstopic.js') }}" defer></script>
{% endblock %} {% block title %}Notebook - Settings{% endblock %} {% block navbar %} {% if
session['access_level'] != PermissionConst.NONE.value %}
<li><a href="{{ url_for('admin') }}">Admin</a></li>
{% endif %}
<li><a href="{{ url_for('index') }}">Notebook</a></li>
<li><a href="{{ url_for('settings') }}">Settings</a></li>
{% endblock %} {% block content %}
<div id="container">
    <div id="overlay">
        <div id="popup">
            <p>Are you sure?</p>
            <button id="yes" onclick="deleteTopic(1)">Yes</button>
            <button id="no" onclick="deleteTopic(0)">No</button>
        </div>
    </div>

    <div id="update">
        <p class="success" id="resp"></p>
        <input type="text" id="new-topic-name" spellcheck="true" />
        <button type="button" id="update-topic" onclick="update()">Update Name</button>
    </div>

    <div id="danger">
        <button type="button" id="delete" onclick="deleteTopic()">Delete Topic</button>
    </div>

    <span id="topic-id" hidden>{{ topic['topic_id'] }}</span>
    <span id="topic-name" hidden>{{ topic['topic_name'] }}</span>
</div>

<script>
    $(document).ready(() => {
        $('#new-topic-name').val('{{ topic["topic_name"] }}');
    });
</script>
{% endblock %}
