{% extends "base.html" %} {% block links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/adminedit.css') }}" />
<script src="{{ url_for('static', filename='js/adminedit.js') }}" defer></script>
{% endblock %} {% block title %} Notebook - {{ user['username'] }} {% endblock %} {% block navbar %}
<li><a href="{{ url_for('admin') }}" class="active-tab">Admin</a></li>
<li><a href="{{ url_for('index') }}">Notebook</a></li>
<li><a href="{{ url_for('settings') }}">Settings</a></li>
{% endblock %} {% block content %}

<div id="container">
    <div id="overlay">
        <div id="popup">
            <p>Are you sure?</p>
            <button id="yes" onclick="deleteUser(1)">Yes</button>
            <button id="no" onclick="deleteUser(0)">No</button>
        </div>
    </div>

    <span id="user-id" hidden>{{ user['user_id'] }}</span>
    <span id="username" hidden>{{ user['username'] }}</span>

    <div class="activity" id="basic-info">
        <h1>Basic Info</h1>

        <span class="info"><span>Username:</span> {{ user['username'] }}</span>
        <span class="info"><span>Access Level:</span> {{ user['access_level'] }}</span>
        <span class="info"><span>Date Created:</span> {{ user['date_created'] }}</span>
        <span class="info"><span>Last Accessed:</span> {{ user['last_online'] }}</span>
        <span class="info"><span>IP Address:</span> {{ user['ip_address'] }}</span>
        <span class="info"><span>Total Topics:</span> {{ user['total_topics'] }}</span>
        <span class="info"><span>Total Notes:</span> {{ user['total_notes'] }}</span>
    </div>

    <div class="activity" id="access-level">
        <h1>Access Level</h1>
        <span>Access Level: </span>
        <select id="new-access">
            {% if user['access_level'] != 'Admin' %}
            <option value="0">Admin</option>
            {% else %}
            <option value="-" selected disabled>Admin</option>
            {% endif %} {% if user['access_level'] != 'View Only' %}
            <option value="1">View Only</option>
            {% else %}
            <option value="-" selected disabled>View Only</option>
            {% endif %} {% if user['access_level'] != 'User' %}
            <option value="2">User</option>
            {% else %}
            <option value="-" selected disabled>User</option>
            {% endif %}
        </select>

        <button type="button" onclick="updateAccess()">Update Access</button>
    </div>

    <div class="activity" id="logout">
        <h1>Logout User</h1>
        <button type="button" onclick="logout()">Logout</button>
        <p id="resp"></p>
    </div>

    <div class="activity" id="delete">
        <h1>Delete User</h1>
        <button type="button" onclick="deleteUser()">Delete</button>
    </div>
</div>
{% endblock %}
